.App {
  text-align: center;
}
.titleApp {
  /* position: absolute;
  left: 95px;
  bottom: 50px; */
  font-size: 64px;
  font-family: 'Rubik';
  color: #FFF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.rootApp {
  flex-direction: row;
}
.createTitleApp {
  height: 100vh;
  width: 35%;
  background: rgb(39 16 39 / 50%);
}
.mainTable {
  position: relative;
  top: 35px;
  width: 65%;
  height: max-content;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.containTable {
  background: rgba(36, 36, 36, .75);
  border-radius: 20px;
  padding: 40px 30px 55px;
  /* position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 35px; */
  width: 428px;
  z-index: 1;
}
.titleTable {
  font-size: 48px;
  color: #FFF;
}

@media screen and( max-width: 991px ) {
  .createTitleApp {
    width: 100%;
  }
  .mainTable {
    width: 100%;
  }
  .rootApp {
    flex-direction: column;
  }
}
