.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #D9D9D9;
  border-radius: 8px;
  font-size: 16px;
  list-style: none;
  padding: 8px 16px;
}
.TodoItem--complete {
  background: rgba(217, 217, 217, .45);
}
.textoItem {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  color: #4B4B4B;
}
.iconFa {
  font-size: 1.3rem;
  color: #282828;
}
.faTrash:hover {
  color: rgb(226, 44, 12);
}
.Icon-check--active {
  color: #1ad796;
}
.textoItem--complete {
  text-decoration: line-through;
}